.component {
    width: 100%;
    height: 100%;
    padding: rem(10);
    font-size: rem(14);
    border-left: rem(1) solid #AAAAAA;
    border-bottom: rem(1) solid #AAAAAA;
    background-color: #333333;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: left;
}
