.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: rem(20) rem(10);
}

.resizableCard {
    width: rem(700);
    background-color: #ffffff;
    border-radius: rem(4);
    box-shadow: 0 rem(1) rem(2) hsla(0, 0%, 0%, 0.12);
    padding: rem(20);
    resize: both;
    overflow: auto;
    margin-bottom: rem(20);
}

.cardTitle {
    font-size: rem(16);
    font-weight: bold;
    margin-bottom: rem(20);
}

