.component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.columnsPinned {
    position: sticky;
    z-index: 2;
    display: flex;
}

.columnsPinnedLeft {
    composes: columnsPinned;
    left: 0;
}

.columnsPinnedRight {
    composes: columnsPinned;
    right: 0;
}
