.component {
    overflow: auto;

    display: grid;
}

.columns {
    position: relative;
}

.inner {
    position: relative;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
}
